@import "custom-bootstrap";

ul.context-menu {
    background: transparent url(../img/falling-dots.png) no-repeat 100% 0;
    position: absolute;
    z-index: 5;
    top: 20px;
    margin-left: 30px;

    .active a {
         color: @blue;
    }

    a {
        display: block;
        height: 91px;
        width: 88px;
        margin: 20px;
        margin-top: 0;
        font-size: 5em;
        color: #B3DBF0;
        .transition(all .1s ease-in-out);


        &:hover {
            color: @orange;
            background: none !important;
            .scale(1.03);
        }
    }

}
