@import "custom-bootstrap";
@import "style.less";

img {
    width: 100%;
}

form {

    input, textarea {
        width: 96%;
    }

    textarea {
        height: 150px;
    }
}

.content-wrapper {
    .main-content {
        h5 {
            font-weight: normal;
            font-size: 1.3em;
            margin-bottom: 0;
        }

        hr {
            margin-left: 0;
        }

        .toggle-map {
            float: right;
        }

        .maps {
            position: relative;
            height: 590px;

            iframe {
                position: absolute;
            }
        }
    }
}

.hidden {
    display: none;
}
