@import "../vendor/Bootstrap/less/bootstrap.less";
@import "style.less";
@import "context-menu.css";

.feature {
    .clearfix;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: dashed 1px #dedede;
}