@import "custom-bootstrap";
@import "style.less";
@import "context-menu.css";

// Sticky nav override
ul.context-menu {
    top: 10px;
}

.feature {
    .clearfix;
    margin-bottom: 30px;
    padding-bottom: 60px;
    border-bottom: dashed 1px #ccc;

    p {
        font-size: 1.2em !important;
        color: #666;
        line-height: 1.5em;
        width: 288px;
    }

    img {
        width: 450px;
        padding: 5px;
        background: #fff;
        border: solid 1px #AAA;
        border-bottom-color: #999;
        @featureImgShadow: 0 0 10px #bbb, 0 30px 50px -30px #888;
        .box-shadow(@featureImgShadow);
    }

    &.img-right {
        p {
            float: right;
        }

        img {
            float: right;
            margin-left: 30px;
        }
    }

    &.img-left {
        p {
            float: left;
        }

        img {
            float: left;
            margin-right: 30px;
        }
    }

    &:last-child {
        border: none !important;
    }
}

#choice-wrapper {
	.clearfix;
	background: #f0f0f0;
	// border: solid 1px #ccc;
	// .box-shadow(inset 0 0 20px rgba(0,0,0,.1));
	padding: @basicPadding;
	margin-bottom: 40px;
	.border-radius(5px);
	text-align: center;
	// border-bottom: solid 1px #dedede;

	.btn-choice {
		font-size: 2.3em;
		font-family: BebasNeueRegular;
		text-align: left;
		color: #555;
		padding-top: 20px;
		padding-bottom: 10px;
		width: 410px;
		margin-right: @basicPadding;
		@btnChoice: inset 0 1px 5px rgba(0,0,0,.3), 0 1px 0 #fff;
		.box-shadow(@btnChoice);
		background: transparent;
		border-color: #aaa;

		&:last-child {
			margin-right: 0;
		}

        &:hover {
            background-color: #fff;
        }

        &.active {
            background-color: #ccc;
            border-color: #888;
            color: #444;

            i {
                color: #444;
                border-color: #444;
            }
        }

		i {
			float:left;
			margin-right: 20px;
			margin-top: -10px;
			padding: 15px;
			font-size: 1em;
			border: solid 5px #555;
			.border-radius(50px);
			@iBoxShadow: 0 -1px 0px rgba(0,0,0,.2), inset 0 0 1px rgba(0,0,0,.3);
			.box-shadow(@iBoxShadow);
			color: #555;
		}

		em {
			display: block;
			font-size: .5em;
			font-style: normal;
			font-family: "helvetica neue", helvetica, arial, sans-serif;
			margin-top: .5em;
		}
	}

}

.content-wrapper {
	background: none;
	padding-top: 0;
}
