@import "style";

.lt-ie9 {
    label {
        display:block !important;
    }

    #getName {
        input {
            line-height: 30px;
        }
    }
}

.plans {
    h2 {
        text-align:center;
    }

    .basic-plans {
        height: 430px;
        .clearfix;
        position: relative;
        margin-top: 50px;

        .plan {
            position: relative;
            text-align: center;
            height: 420px;
            margin-bottom: 20px;
            .border-radius(4px);
            border: solid 1px #bbb;
            .box-shadow(0 30px 30px -20px rgba(0,0,0,.2));
            .transition(all .1s ease-in-out);
            background-color: #fff;

            .call-to-action {
                position: absolute;
                top: 330px;
                margin-left: -95px;
                left: 50%;
            }

            &:hover {
                margin-top: -2px;
                border-color: #888;
            }

            &.featured-plan {
                position: relative;
                z-index: 5;
                width: 370px;
                height: 450px;
                margin-top: -15px;
                margin-left: -35px;
                @featuredShadow: 0 30px 30px -20px rgba(0,0,0,.2), 0 0 20px rgba(0,0,0,.1);
                .box-shadow(@featuredShadow);

                .call-to-action {
                    top: 360px;
                }

                &:hover {
                    @featuredShadow_hover: 0 30px 30px -20px rgba(0,0,0,.4), 0 0 20px rgba(0,0,0,.2);
                    .box-shadow(@featuredShadow_hover);
                    margin-top: -17px;
                }

            }

            &.plan-present {
                h3 {
                    .plan-price {
                        margin-right: 10px;
                    }
                }
            }

            &.plan-interact {
                h3 {
                    padding-left: 35px;
                }
            }

            h3 {
                text-align: left;
                text-shadow: none !important;
                font-size: 25px;
                padding: 15px;
                padding-left: 20px;
                font-weight: normal;
                margin-top: 0;
                color: @coolBlue !important;
                border-bottom: solid 1px #f5f5f5;
                .gradientBar(#fff, #eee);
                .box-shadow(0 2px 0 #eee);
                .border-radius(4px 4px 0 0);

                .plan-price {
                    font-size: .7em;
                    font-weight: normal;
                    float: right;
                    padding: 8px;
                    #label > .warning;

                    small, sup {
                        font-size: .5em;
                        color: #fff;
                        font-family: sans-serif;
                    }
                }
            }

            h4 {
                font-size:  1.5em;
                margin-bottom: 25px;
            }

            .plan-content {
                padding: 20px;
                position: relative;

                p {
                    font-size: 1.2em;
                    line-height: 1.2em;
                }


                .small {
                    position: absolute;
                    top: 190px;
                    line-height: 1em;
                    color: #777;
                    font-size: 1em;
                    width: 200px;
                    left: 50%;
                    margin-left: -100px;
                }
            }



        }
    }

    .custom-plans {
        border: solid 1px #ccc;
        .clearfix;
        .border-radius(4px);
        background: #222;
        padding: 20px;
        margin-bottom: 20px;

        h3 {
            margin: 0;
            color: #fff;
            font-family: "Helevtica Neue",helvetica, arial, sans-serif;

            small {
                display: block;
            }
        }

        .btn {
            padding: 10px 50px;
            float: right;
            font-weight: bold;
            font-family: Lobster;
        }
    }

    table.list-plans-compare {
        font-size: 1.3em;
        thead {
            th {
                color: @coolBlue;
                font-family: BebasNeueRegular;
                font-weight: normal;
                text-align: center;
                font-size: 1.3em;
            }
        }
        tbody {
            th {
                font-weight: normal;
                small {
                    color: #666;
                    font-size: .85em;
                    font-weight: normal;
                    padding-left: 20px;
                }
            }
            td {
                text-align: center;
            }
        }
        .btn-info {
            font-weight: bold;
        }
        .list-plans-compare-ondemand {
            vertical-align: middle;
            text-align: center;
            font-size: 1.5em;
            font-weight: bold;
            background: #f0f0f0;
        }
    }

    label {
        display:none;
    }
}

p.intro {
    margin-bottom: @basicPadding !important;
}

/** plans.less = ported from app.wisembly.com */

h3.pack-type {
    i {
        font-size: .85em;
    }
}

hr {
    margin: 0;
}

.label {
    letter-spacing: 1px;
}

.packs-container {
    position: relative;
    padding-bottom: @basicPadding;

    h3 {
        display: block;
        text-align: left;
    }

    .packs {
        .clearfix;
        vertical-align: top;
        position: relative;
    }

    .form {
        margin: 10px;
    }

    .pack-details {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    #freemium-pack {
        margin: 0 0 0 0;
        width: 470px;

        .pack-details {
            width: 420px;
        }

        .small {
            color: #888;
        }

        #freemium-form {
            .border-radius(4px);
            background: #EEE;
            border: 1px #DDD;
            margin: 10px 0 10px 0;
            padding: 30px 30px 1px 30px;

            div {
                overflow: auto;
            }

            .email {
                font-size: 1.3em;
                width: 240px;
                height: 40px;
                float: left;
            }

            .submit {
                height: 50px;
                width: 150px;
                float: right;
            }
        }
    }

    #abonnement {
        float: right;
    }

    #getName {
        margin-top: 20px;

        &>div {
            margin: 0 0 5px 0;
        }

        select {
            height: 30px;
            width: 315px;
        }

        input {
            height: 30px;
            width: 300px;
        }

        textarea {
            width: 420px;
            max-width: 420px;
            height: 100px;
        }
    }
}
