@import "custom-bootstrap";

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../webfonts/BebasNeue-webfont.eot');
    src: url('../webfonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/BebasNeue-webfont.woff') format('woff'),
         url('../webfonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../webfonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('../webfonts/lobster-webfont.eot');
    src: url('../webfonts/lobster-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/lobster-webfont.woff') format('woff'),
         url('../webfonts/lobster-webfont.ttf') format('truetype'),
         url('../webfonts/lobster-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* ===== Primary Styles ========================================================
   Author: Nicolas Chenet -- nicolas@balloonup.com
   ========================================================================== */


// @vars

@infoLabelBackground:       #058ae7;
@successLabelBackground:    #51c161;
@importantLabelBackground:  #B94A48;

@coolBlue:                  #137BAC;


@basicPadding:              15px;

// Animations

@keyframes slider_bubbles_init {
    from {
        margin-top: -500px;
    }
    to {
        margin-top: 0;
    }
}
@-webkit-keyframes slider_bubbles_init {
    from {
            margin-top: -500px;
    }
    to {
        margin-top: 0;
    }
}
@-moz-keyframes slider_bubbles_init {
    from {
        margin-top: -500px;
    }
    to {
        margin-top: 0;
    }
}
@-ms-keyframes slider_bubbles_init {
    from {
        margin-top: -500px;
    }
    to {
        margin-top: 0;
    }
}

i.icon-twitter, i.icon-envelope-alt, i.icon-facebook, .icon-linkedin-sign {
    padding: 5px 7px 3px 7px;
    .border-radius(50px);
    font-size: .8em;
    color: #fff;
    height: 30px;
    width: 10px;
    margin-bottom: @basicPadding;
}

i.icon-twitter {
    background: @blue;
    padding: 2px 16px 3px 9px;
}

i.icon-envelope-alt {
    background: @orange;
}

i.icon-facebook {
    padding: 4px 9px 1px 9px;
    background: @coolBlue;
}

i.icon-linkedin-sign {
    background: @gray;
    font-size: 1.2em;
    padding: 3px 14px 1px 10px;
}


html body {
    background: transparent url(../img/background.gif) repeat-x 0 -275px;
}

html.home body {
    background-color: transparent;
    background-image:
          url(../img/big-balloon.png)
        , url(../img/background.gif);
    background-repeat:
          no-repeat
        , repeat-x;
    background-position:
          50% 75px
        , 0 0;

}


// Generic

hr {
    margin-left: 32px;
}

.img-right {
    float: right;
    margin-left: 20px;
}

.img-left {
    float: left;
    margin-right: 20px;
}

.call-to-action {
    display: block;
    width: 190px;
    height: 69px;
    line-height: 59px;
    background: transparent url(../img/cta.png) no-repeat;
    font-family: Lobster;
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    .transition(text-shadow .2s ease-in-out);


    &:hover {
        text-shadow: 0 0 10px #fff;
        color: #fff;
        text-decoration: none;
    }

    &:active {
        background-position: -190px 0;
        padding-top: 3px;
    }
}


#label {

    .default {
        @default_shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 2px 2px rgba(0,0,0,0.3);
        .gradientBar(#999, darken(#999,15%));
        border: solid 1px darken(#999,25%);
        text-shadow: 0 -1px darken(#999,25%);
        .box-shadow(@default_shadow);
        color: #fff;
    }

    .warning {
        @warning_shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 2px 2px rgba(0,0,0,0.3);
        .gradientBar(@orange, darken(@orange,15%));
        border: solid 1px darken(@orange,25%);
        text-shadow: 0 -1px darken(@orange,25%);
        .box-shadow(@warning_shadow);
        color: #fff;
    }

    .info {
        @info_shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 2px 2px rgba(0,0,0,0.3);
        .gradientBar(@infoLabelBackground, darken(@infoLabelBackground,15%));
        border: solid 1px darken(@infoLabelBackground,25%);
        text-shadow: 0 -1px darken(@infoLabelBackground,25%);
        .box-shadow(@info_shadow);
        color: #fff;
    }

    .success {
        .gradientBar(@successLabelBackground, darken(@successLabelBackground,15%));
        border: solid 1px darken(@successLabelBackground,25%);
        text-shadow: 0 -1px darken(@successLabelBackground,25%);
    }

    .important {
        .gradientBar(@importantLabelBackground, darken(@importantLabelBackground,15%));
        border: solid 1px darken(@importantLabelBackground,25%);
        text-shadow: 0 -1px darken(@importantLabelBackground,25%);
    }
}



// Layout

.main-header {
    position: relative;
    margin-top: 50px;
    font-family: BebasNeueRegular;
    color: #fff;

    h1 {
        margin-top: 10px;
        font-size: 9em;
        font-weight: normal;
        height: 115px;
    }

    small {
        position: relative;
        margin-bottom: 15px;
        color:  rgba(255,255,255,.3) !important;
        font-size: .22em;
        height: 2em;
        display: block;
    }
}

.bread-crumb {
    position: relative;
    z-index: 5;
    padding: 15px 0;
    color: #999;

    .catcher {
        float: right;

        strong {
            float: left;
            line-height: 2em;
            margin-right: 20px;
        }

        .btn-group {
            float: right;
        }
    }
}

.cta-divider {
    background: transparent url(../img/divider-shadow.png) no-repeat 50% 50%;
    height: 125px;
    margin-top: 50px;
    clear: both;
    text-align: center;

    a.call-to-action {
        background-position: 0 -69px;
        margin: 0 auto;

        &:active {
            background-position: -190px -69px;
        }
    }
}

.content-wrapper {
    padding-top: 20px;
    position: relative;
    background: transparent url(../img/divider-shadow.png) no-repeat ;

    .main-content {
        position: relative;
        padding-left: 30px;
        padding-bottom: 30px;

        &.has-nav {
            padding-left: 180px;
        }

        h2, h3, h4 {
            font-family: BebasNeue;
            font-weight: normal;
        }

        h2 {
            font-size: 3em;
            margin-bottom: @basicPadding;
            line-height: 1.1em;
        }

        h3 {
            font-size: 1.7em;
            color: #fb4006;
            margin-bottom: @basicPadding;
        }


        h4 {
            display: block;
            width: 100%;
            padding: 0;
            margin-bottom: 27px;
            font-size: 19.5px;
            line-height: 36px;
            font-weight: normal;
            color: #333;
            border: 0;
            border-bottom: 1px solid #EEE;
        }

        h5 {
            font-size: 1.1em;
            color: #666;
            margin: @basicPadding 0;
        }

        .intro {
            font-size: 1.2em;
            color: #888;
            padding-bottom: 30px;
            border-bottom: solid 1px #dedede;
            margin-bottom: 30px;
        }

        p {
            font-size: 1.1em;
        }
    }
}

.main-footer {
    overflow: hidden;
    background: #e9e9e9;
    .box-shadow(inset 0 3px 10px rgba(0,0,0,.1));
    border-top: solid 1px #c0c0c0;
    font-size: .9em;

    .container {

        h5 {
            font-family: bebasNeue;
            font-size: 1.7em;
            margin-bottom: 10px;
            width: 90%;
            font-weight: normal;
        }


        .footer-company, .footer-nav, .footer-other-nav {
            .box-shadow(inset -1px 0px 0 #ccc);
            height: 220px;
            padding-top: 25px;

            &:last-child{
                .box-shadow(none);
            }
        }

        .footer-nav {

            img {
                width: 110px;
                margin-top: 45px;
            }

        }

        .footer-nav, .footer-other-nav {

            li {

                a {
                    display: block;
                    color: #666;
                    line-height: 1.8em;
                    width: 90%;
                    .transition(all .2s ease-in-out);

                    &:hover {
                        color: #333;
                        text-decoration: none;
                    }
                }
            }
        }

        .footer-company {

            img {
                margin-top: @basicPadding*2;
                width: 100px;
            }

            a {
                margin: 0 auto;
                .box-shadow(0 0 50px #fff);
            }

            p {
                color: #666;

                strong {
                    display: block;
                    color: #333;
                    font-family: BebasNeue;
                    font-size:  2em;
                    font-weight: normal;
                    margin-bottom: 5px;
                }
            }
        }

        .footer-other-nav {
            border: none;

            a {
                color: #666;
                &:hover{
                    text-decoration: none;
                }
                span {
                    margin: 5px 10px 0 0;
                }
            }

            .footer-social-nav {
                position: relative;
                margin-top: @basicPadding*2;

                h5 {
                    margin-bottom: @basicPadding;
                }

                a {
                    float: left;
                    font-size: 1.3em;
                    line-height: 1.8em;
                    margin-right: @basicPadding;

                    &:last-child {
                        margin-right: 0;
                    }

                    i {
                        margin-right: 5px;
                        &.icon-twitter {
                            font-size: 1.3em;
                        }

                        &.icon-facebook {
                            font-size: 1.5em;
                            padding: 2px 12px;
                        }
                    }
                }

                .share-btn {
                    position: absolute;
                    left: 200px;

                    &#twitter-btn {
                        top: 60px;
                    }

                    &#facebook-btn {
                        top: 30px;
                    }

                }
            }
        }
    }

    .made-in-paris {
        background: #dedede url(../img/made-in-paris.png) no-repeat -130% 30%;
        height: 170px;

        #address, #phone {
            position: absolute;
            font-size: .9em;
            top: 140px;
            padding-left: 16px;

            i {
                position: absolute;
                top: 2px;
                left: 5px;
            }
        }

        #address {
            right: 443px;
        }

        #phone {
            right: 334px;
        }

        p {
            position: relative;
            top: 76px;
            width: 130px;
            margin: 0 auto;
            text-align: center;
        }

        .container {
            position: relative;
        }

        #download-doc {
            position: absolute;
            top: 66px;
            left: 17px;
        }

        .call-to-action {
            position: absolute;
            right: 55px;
            top: 55px;
        }

    }
}



// Navigation

.navbar {
    z-index: 50;
    .navbar-inner {
        @navbar_shadow: inset 0 -1px 0 #fff, 0 5px 0 rgba(0,0,0,.2);
        background: #fff;
        border-bottom: solid 1px #aaa;
        .gradientBar(#fff, #eee);
        .box-shadow(@navbar_shadow);
    }

    .btn-group, #nav-phone {
        float: right;
    }

    #nav-phone {
        color: #fb4006;
        margin: 0 0 0 20px;
        font-size: 1.5em;
        text-shadow: none;
        font-family: bebasneue;
        line-height: 40px;
    }

    .brand {
        padding: 6px 20px;
    }

    .nav {
        float: right;

        a {
            .transition(color .2s ease-in-out);
            font-family: bebasneue, sans-serif;
            font-size: 1.2em;
        }

        > li {
            > a {
                color: #999;
                text-shadow: none;

                &:hover {
                    color: #fb4006;
                }
            }
        }
        .active {
            > a {
                color: #333 !important;
                border-left: solid 1px #aaa;
                border-right: solid 1px #aaa;
                text-shadow: 0 1px 0 #fff !important;
                .gradientBar(#ddd, #fff);

                &:hover {
                    .gradientBar(#ccc, #eee);
                    color: #000;
                    .scale(1);
                }
            }
        }
    }
}

// Slider

#slider-wrapper {
    margin-bottom: 0;

    .slider {
        margin-top: 40px;
        height: 411px;
        color: #fff;

        .item {

            &.item-0, &.item-1 {
                height: 411px;
                width: 940px;
                width: 100%;
                background-size: 100%;

                h1 {
                    position: absolute;
                    background: rgba(0,0,0,.7);
                    padding: 10px;
                    display: inline-block;
                }
            }

            &.item-0 {
                background: transparent url(../img/home-slide-0.png) no-repeat;

                h1 {
                    bottom: 50px;
                    left: 50px;
                }

            }

            &.item-1 {
                background: transparent url(../img/home-slide-1.png) no-repeat;

                h1 {
                    bottom: 50px;
                    right: 50px;
                }

            }

            &.item-2 {
                h1 {
                    .hide-text;
                    background: transparent url(../img/home-title.png);
                    height: 124px;
                    width: 361px;
                    margin-top: 75px;
                    margin-bottom: 50px;
                }

                .slider-features {
                    position: absolute;
                    height: 800px;
                    width: 160px;
                    background: transparent url(../img/dots-bubbles.png) no-repeat;
                    text-align: center;
                    cursor: pointer;
                    padding-top: 440px;
                    .transition(all .2s ease-in-out);
                    animation: slider_bubbles_init;
                    -webkit-animation: slider_bubbles_init;
                    -moz-animation: slider_bubbles_init;
                    -ms-animation: slider_bubbles_init;

                    h2 {
                        font-family: BebasNeueRegular;
                        line-height: 1em;
                        font-size: 1.8em;
                        font-weight: normal;
                        text-shadow: 0 1px 0 rgba(0,0,0,.5);
                    }

                    p {
                        color: rgba(255, 255, 255, .5);
                        font-size: 1em;
                    }

                    a {
                        display: none;
                    }

                    &.questions {
                        top: -330px;
                        right: 350px;
                        animation-duration: .5s;
                        -webkit-animation-duration: .5s;
                        -moz-animation-duration: .5s;
                        -ms-animation-duration: .5s;
                    }

                    &.stats {
                        top: -180px;
                        right: 170px;
                        background-position: -160px 0;
                        animation-duration: .8s;
                        -webkit-animation-duration: .8s;
                        -moz-animation-duration: .8s;
                        -webkit-animation-duration: .8s;
                    }

                    &.time {
                        top: -300px;
                        right: 0px;
                        background-position: -320px 0;
                        animation-duration: 1.1s;
                        -webkit-animation-duration: 1.1s;
                        -moz-animation-duration: 1.1s;
                        -ms-animation-duration: 1.1s;
                    }

                    &:hover {
                        margin-top: -5px;
                    }
                }
            }
        }
    }

    .slider-pager {
        height: 45px;
        text-align: center;

        a {
            background: transparent url(../img/bullets.png) no-repeat 0 50%;
            margin: 0 2px;
            width: 17px;
            height: 60%;
            display: inline-block;
            .hide-text;

            &:hover {
                background-position: -17px 50%;
            }

            &.pager-active {
                background-position: -34px 50%;
            }
        }
    }
}



.features {
    position: relative;
    margin-bottom: 20px;

    h2 {
        display: none;
    }

}


// Extra icons 

.icon-flag-fr, .icon-flag-en {
    display: block;
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 5px;
}

.icon-flag-fr {
    background: transparent url(../img/flag-fr.png) no-repeat;
}

.icon-flag-en {
    background: transparent url(../img/flag-en.png) no-repeat;
}