<?php

return array(
    'fr'    =>  array(
        'driver'    =>  'pdo_mysql',
        'dbname'    =>  'silexcmsfr',
        'host'      =>  'localhost',
        'user'      =>  'root',
        'password'  =>  'root',
    ),
    'en'    =>  array(
        'driver'    =>  'pdo_mysql',
        'dbname'    =>  'silexcmsen',
        'host'      =>  'localhost',
        'user'      =>  'root',
        'password'  =>  'root',
    ),
);
