<div id="contentWrapper">
    <div data-id="a1" class="about-team-member item">
        <a href="#" class="expand">Ouvrir</a>
        <div class="excerpt">
            <img src="http://placehold.it/100x100" alt="wp" />
        </div>
        <div class="full">
            C'est moi ;)
        </div>
    </div>
    <div data-id="a2" class="about-team-member item">
        <a href="#" class="expand">Ouvrir</a>
        <div class="excerpt">
            <img src="http://placehold.it/100x100" alt="wp" />
        </div>
        <div class="full">
            C'est moi ;)
        </div>
    </div>
    <div data-id="a3" class="about-team-member item">
        <a href="#" class="expand">Ouvrir</a>
        <div class="excerpt">
            <img src="http://placehold.it/100x100" alt="wp" />
        </div>
        <div class="full">
            C'est moi ;)
        </div>
    </div>
</div>