<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="span4 footer-call-to-action">
                <p><strong>Wisembly</strong> est une application web et mobile qui permet au public d'un événement de participer en temps réel via leur téléphone mobile.</p>
                <a href="#" title="" class="call-to-action">Create an event now !</a>
            </div>
            <div class="span4 footer-nav">
                <h5>
                    <i class="icon-group"></i>
                    The Company
                </h5>
                <div class="row-fluid">
                    <div class="span6">
                        <ul class="unstyled">
                            <li><a href="/">                                Home            </a></li>
                            <li><a href="features/{{app.filters[0].slug}}"> Features        </a></li>
                            <li><a href="cases">                            Case studies    </a></li>
                            <li><a href="clients">                          Clients         </a></li>
                            <li><a href="plans">                            Plans & pricing </a></li>
                            <li><a href="contact">                          Contact         </a></li>

                    </div>
                    <div class="span6">
                        <ul class="unstyled">
                            <li><a href="about">                            About             </a></li>
                            <li><a href="Mentions légales">                 Mentions légales  </a></li>
                           </ul>
                    </div>
                </div>
            </div>
            <div class="span4 footer-other-nav">
                <div class="footer-dev-nav">
                    <h5>
                        <i class="icon-beaker"></i>
                        Developers
                    </h5>
                    <ul class="unstyled">
                        <li><a href="/">APIs <span class="label label-warning">Coming soon</span></a></li>
                        <li><a href="http://github.com/balloon">GitHub</a></li>
                    </ul>
                </div>
                <div class="footer-social-nav">
                    <h5>
                        <i class="icon-comments-alt"></i>
                        Let's get connected
                    </h5>
                    <a href="https://twitter.com/wisembly"            target="_blank"><i class="icon-twitter"></i>@wisembly on Twitter</a>
                    <a href="https://www.facebook.com/wisembly"       target="_blank"><i class="icon-facebook"></i>Become a fan !</a>
                </div>
            </div>
        </div>
    </div>
    <div class=" made-in-paris">
        <p class="label label-inverse">Made in Paris with love</p>
    </div>
</footer>