<div id="slider-wrapper" class="carousel container">
    <div class="slider carousel-inner">
        <div class="active item item-0">
            <h1>Échanges interactifs <br> entre la salle et l’intervenant...</h1>
        </div>
        <div class="item item-1">
            <h1>Une plateforme web <br> accessible partout, pour tous!</h1>
        </div>
        <div class="item item-2">
            <h1>Dès 5 participants <br> lancez un Wisembly</h1>
            <a href="features" class="call-to-action">Commencez le tour</a>
            <div class="slider-features questions">
                <h2>Récoltez des questions</h2>
                <p>de votre audience en direct</p>
                <a href="features" title="Récoltez des questions">Plus d'informations</a>
            </div>
            <div class="slider-features stats">
                <h2>Obtenez des statistiques</h2>
                <p>ROI, Courbe de participation, Engagement</p>
                <a href="features" title="Get statistics"></a>
            </div>
            <div class="slider-features time">
                <h2>Gagnez du temps</h2>
                <p>On sait tous que le temps c'est de l'argent !</p>
                <a href="features" title="Gagnez du temps"></a>
            </div>
        </div>
    </div>
    <div class="slider-pager">
        <a href="#slider-wrapper" class="pager-active">0</a>
        <a href="#slider-wrapper">1</a>
        <a href="#slider-wrapper">2</a>
    </div>
</div>