<div id="slider-wrapper" class="carousel container">
    <div class="slider carousel-inner">
        <div class="active item item-0">
            <h1>Why organize <br> this type of conference...</h1>
        </div>
        <div class="item item-1">
            <h1>when you can create <br> an experience ?!</h1>
        </div>
        <div class="item item-2">
            <h1>Take your events to the next level</h1>
            <a href="features" class="call-to-action">Start the tour now</a>
            <div class="slider-features questions">
                <h2>Collect questions</h2>
                <p>From your audience, live</p>
                <a href="features" title="Collect questions">More information</a>
            </div>
            <div class="slider-features stats">
                <h2>Get statistics</h2>
                <p>Realtime, dude !</p>
                <a href="features" title="Get statistics"></a>
            </div>
            <div class="slider-features time">
                <h2>Save time</h2>
                <p>And we know that time is money</p>
                <a href="features" title="Save time"></a>
            </div>
        </div>
    </div>
    <div class="slider-pager">
        <a href="#slider-wrapper" class="pager-active">0</a>
        <a href="#slider-wrapper">1</a>
        <a href="#slider-wrapper">2</a>
    </div>
</div>