<div id="customer-quotes-wrapper" class="carousel container">
    <a class="customer-quote-prev" href="#customer-quotes-wrapper" data-slide="prev">&lsaquo;</a>
    <a class="customer-quote-next" href="#customer-quotes-wrapper" data-slide="next">&rsaquo;</a>
    <div class="customer-quotes carousel-inner">
        <div class="customer-quote item active">
            <p class="customer-quote-text">
                “ Tout le monde a adoré: c’est une manière d’intervenir qui n’existait pas avant.<br>
                Balloon permet d’aller au-delà de la présentation et d’ouvrir le dialogue. ”
            </p>
            <span class="customer-quote-author">
                <strong>Georges Edouard Dias</strong>
                SVP Digital Business - <a href="http://www.loreal.fr" target="_blank">L'Oréal</a>
            </span>
        </div>
        <div class="customer-quote item">
            <p class="customer-quote-text">
                Les Questions Balloon montrent une participation très active de la salle.<br>
                Je pense qu’on apprend généralement plus des questions que des réponses qu’on y apporte.
            </p>
            <span class="customer-quote-author">
                <strong>Maurice Lévy</strong>
                CEO - <a href="http://www.publicisgroupe.com/" target="_blank">Publicis</a>
            </span>
        </div>
        <div class="customer-quote item">
            <p class="customer-quote-text">
                Balloon est une superbe solution collaborative qui permet de collecter des idées dans des réunions de groupe.<br>
                Nous l’utilisons pour débattre des idées, collecter du feedback et arriver à des solutions collectives !
            </p>
            <span class="customer-quote-author">
                <strong>Patrick Stelmaszyk</strong>
                CTO - <a href="http://www.fr.capgemini.com/" target="_blank">Capgemini Consulting</a>
            </span>
        </div>
    </div>
</div>

<div class="customers">
    <div class="container">
        <h2>Our <strong>customers</strong> love us </h2>
        <a href="#" class="active customer">
            <span class="arrow"></span>
            <img src="../img/customers-loreal.png" />
        </a>
        <a href="#" class="customer">
            <span class="arrow"></span>
            <img src="../img/customers-publicis.png" />
        </a>
        <a href="#" class="customer">
            <span class="arrow"></span>
            <img src="../img/customers-capgemini.png" />
        </a>
    </div>
</div>