<div class="press">
    <div class="container">
        <h2>Les <strong>Médias</strong> nous adorent</h2>
        {% for press in app.press_featured %}
            <a href="about#about-press" class="press-item">
                <img src="{{press.logo}}" />
            </a>
        {% endfor %}
    </div>
</div>
