{% extends 'layout.html.twig' %}

{% block content %}
	{% block foobars %}
		Ma petite liste de foobars :
		<ul>
			{% for foobar in foobars %}
				<li>{{ foobar.text }}</li>
			{% endfor %}
		</ul>
	{% endblock %}
{% endblock %}
