{% extends 'layout.html.twig' %}

{% block page_css %}
    <link rel="stylesheet" href="../less/contact.css">
{% endblock %}

{% block page_scripts %}
    <script src="../js/contact.js" type="text/javascript" charset="utf-8" async></script>
{% endblock %}

{% block filters %}{% endblock %}

{% block content %}

    <header class="main-header container">
        <h1><small>Have you got any questions ? </small> Contact Us</h1>
    </header>

    <div class="container">
        <div class="bread-crumb">
            <a class="catcher" href="cases">Want to know more about us ?</a>
            <a href="/">Home</a> > Contact
        </div>
        <div class="row content-wrapper">
            <div class="main-content contact">
                <h2>Titre contact</h2>
                <p class="intro">
                    Intro contact
                </p>
                <div class="row-fluid">
                    <div class="span4">
                        <h3>Send us a message</h3>
                        <form action="contact/send" method="post">
                            {{ form_widget(app.contact_form_view) }}
                            <input type="submit" class="btn btn-large btn-primary" value="Envoyer" />
                        </form>
                    </div>

                    <div class="span8">
                        <h3>Nous contacter</h3>
                        <div class="row-fluid">
                            <span class="span6">
                                <p><span class="label">Par téléphone</span></p>
                                <p>+33 970 440 155</p>
                            </span>
                            <span class="span6">
                                <p><span class="label">Par e-mail</span></p>
                                <p>
                                    <a href="mailto:contact@balloonup.com?subject=message from balloonup.com">
                                        contact@balloonup.com
                                    </a>
                                </p>
                            </span>
                        </div>
                        <hr>
                        <p><span class="label">Nos adresses</span></p>
                        <address>
                            <a href="#" title="Voir sur la carte" class="btn btn-small toggle-map" data-target="map-siege">
                                <i class="icon-map-marker icon-large"></i> Voir sur la carte
                            </a>
                            <strong>Siège</strong><br>
                            73 boulevard Saint-Germain <br>
                            75005 Paris
                        </address>
                        <address>
                            <a href="#" title="Voir sur la carte" class="btn btn-small toggle-map active" data-target="map-rd">
                                <i class="icon-map-marker icon-large"></i> Voir sur la carte
                            </a>
                            <strong>R&D</strong><br>
                            1 rue Thérèse <br>
                            75001 Paris
                        </address>
                        <iframe id="map-rd" width="610" height="370" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=10+Rue+Th%C3%A9r%C3%A8se,+Paris&amp;aq=0&amp;oq=10+rue+th%C3%A9r%C3%A8se&amp;sll=48.680793,2.502588&amp;sspn=3.115535,8.453979&amp;ie=UTF8&amp;hq=&amp;hnear=10+Rue+Th%C3%A9r%C3%A8se,+75001+Paris,+%C3%8Ele-de-France&amp;t=m&amp;ll=48.866239,2.335539&amp;spn=0.020891,0.031672&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe>
                        <iframe id="map-siege" style="display: none" width="610" height="370" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=73+Boulevard+Saint-Germain,+Paris&amp;aq=0&amp;oq=73+boulevard+sa,+Paris&amp;sll=48.866218,2.33553&amp;sspn=0.012125,0.033023&amp;ie=UTF8&amp;hq=&amp;hnear=73+Boulevard+Saint-Germain,+75005+Paris,+%C3%8Ele-de-France&amp;t=m&amp;ll=48.850992,2.34498&amp;spn=0.020897,0.031672&amp;z=14&amp;iwloc=near&amp;output=embed"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
