{% extends 'layout.html.twig' %}

{% block page_scripts %}
    <script src="../js/login.js" type="text/javascript" charset="utf-8" async></script>
{% endblock %}

{% block filters %}{% endblock %}

{% block content %}

    <header class="main-header container">
        <h1><small>Restricted access </small> Please log in</h1>
    </header>


    <div class="container">
        <div class="bread-crumb">
            <a href="/">Home</a> > Login
        </div>
        <div class="row content-wrapper">
            <div class="main-content contact">
                <div class="row">
                    <div class="span12">
                        <h3>Send us a message</h3>
                        <form action="login" method="post">
							<label>Nom d'utilisateur : <input type="text" name="_username" /></label><br />
							<label>Mo passe : <input type="password" name="_password" /></label><br />
							<input type="submit" />
						</form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
