{% extends 'layout.html.twig' %}

{% block content %}
    <form action="login" method="post">
        <input type="text" name="_username" placeholder="Username" /><br />
        <input type="password" name="_password" placeholder="Password" /><br />
        <input type="submit" />
    </form>
{% endblock %}
